:root {
  --background: #F1F5F8;
  --blue: #49A7E8;
  --blue-ligth: #E9F5FD;
  --blue-dark: #102B43;
  --blue-ligth-2: #7188A2;
  --white: #ffffff;
}

body {
  background-color: var(--background);
  height: 100vh;
}
/* global */
.btn {
  font: 1.5rem;
  padding: 10px 15px;
}
/* main */
.main {
  align-items: center;
  display: flex;
  background-color: var(--background);
  justify-content: center;
  height: 100%;

}
/* container */
.container {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
  text-align: center;
}

.title {
  text-transform: uppercase;
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

.title-secundary 
/* card */
.card {}
/* card header */
.card-header {
  height: 150px;
  position: relative;
  width: 150px;
  margin: 0 auto;
}
.card-avatar {
  display: block;
  height: 100%;
  border-radius: 50%;
  width: 100%;
}
/* card-body */
.card-body {}
.card-name {
  color: var(--blue-dark);
}
.card-job {
  color: var(--blue);
}
.card-info {}
/* card footer */

/* card-buttons */
.card-buttons{}
.btn-prev {
  background-color: var(--white);
  color: var(--blue);
}
.btn-next {
  background-color: var(--white);
  color: var(--blue);
}
.btn-random {
  background-color: var(--blue-ligth);
  color: var(--blue);
}