:root {
  --background: #F1F5F8;
  --blue: #49A7E8;
  --blue-ligth: #E9F5FD;
  --blue-dark: #102B43;
  --blue-ligth-2: #7188A2;
  --white: #ffffff;
}

body {
  background-color: var(--background);
  height: 100vh;
}
/* main */
.main {
  align-items: center;
  display: flex;
  background-color: var(--background);
  justify-content: center;
  height: 100%;

}
/* container */
.container {

}

.title {}
.title-secundary 
/* card */
.card {}
/* card header */
.card-header {}
.card-avatar
/* card-body */
.card-body {}
.card-name {}
.card-job {}
.card-info {}
/* card footer */

/* card-buttons */
.card-buttons{}
.btn-prev {}
.btn-next {}
.btn-random {}